	img.displayed {
			display: block;
			margin-left: auto;
			margin-right: auto;
      border-style: solid;

		}

   li {
    float: left;
    }

    h1 {
      font-size:25px
      margin-right: 80px;
      margin-left: 30px;

    }

  h2 {
      font-family:courier;
      margin-right: 80px;
      margin-left: 30px;
    }

    p {
      margin-right: 80px;
      margin-left: 30px;


      }

  header{
    background-color: #C6A477;
    padding: 30px;
    text-align: center;
    font-size: 20spx;
    color: #3b3e3b;
    border-top-style: solid;
    border-top-width: 15px;
    border-right-style: solid;
    border-left-style: solid;
     }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: #787878;
    }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b3e3b;
    border-style: solid;
}

  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  div {
  background-color: #ECD59F;

}